@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Overlock');


.hideElement{
display:none
};

*{
    margin: 0;
}
#contenedor{
    width:100%;
    height: 100vh;
   text-align: center;
   background-image: url(https://static9.depositphotos.com/1160465/1218/i/950/depositphotos_12183035-stock-photo-wood-material-background-for-vintage.jpg);
   margin: 0;

}
#box1,#box2,#box3{
    text-align: left;
    width:80%;
    height: 70%;
    margin: 0 auto;
    background-color:#EFD9C4 ;
}
header{   
    width:80%;/*ancho*/
    height: 25%;
    background-color:#81A893;
    text-align: center;    
    margin:0 auto;
    box-shadow:5px 10px #251124;
    margin-bottom: 20px;
    
  }
  h1{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #251124;
  }

  textarea{
      width: 35%;
      float:left;
      background: 0, 0,#BE766A;
      border-radius: 40px;
      padding:30px;
      margin-top:30px;
      margin-left:50px;
      font-family: 'Overlock', cursive;
      font-size: 16px;
  }
  #introduccion{
      width: 35%;
      float: left;
      text-align: left;
      font-family: 'Overlock', cursive;
      font-size: 20px;
      padding:2%;   
  }
#offset{
    width: 50px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 16px;
    background:#81A893;
}
#encriptar,#desencriptar{
    margin-left: 90px;
    margin-top: 15px;
    height:40px;
    width:120px;
    background:#81A893;
    border-radius: 25px;
    border: 15px #251124;
    font-family: 'Overlock', cursive;
    font-size: 18px;
}
p{
    font-family: 'Overlock', cursive;
    font-size: 20px;
}
#mnsj-encriptado,#mnsj-desencriptado{
    width: 40%;
    height: 30%;
    background-color: #BE766A;
    text-align: center;
    padding-top: 10%;
    border-radius: 35px;
    margin-left: 30%;
}
#box2, #box3{
    text-align: center
}

#volver1, #volver2,#volver3{
    width: 20%;
    height: 10%;
    border-radius: 25px;
    background-color: #81A893;
    font-family: 'Overlock', cursive;
    font-size: 18px;
}
#box4{
    background-color:#EFD9C4;
}